$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.mainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
}
.productsHeaderContainer {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 95%;
  justify-content: flex-start;
}
.titleContainer {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.titleText {
  margin: auto;
  font-size: 7rem;
}
.headerText {
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 3rem;
}
.headerTextBold {
  @extend .headerText;
  font-weight: bold;
}
.medText {
  font-size: 4rem;
}
.navText {
  @extend .medText;
}
.navbarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.navItem {
  margin-left: 3rem;
  margin-right: 3rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  justify-items: center;
}
.gridItemContainer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 1rem;
  width: 90%;
  height: 80vh;
  border: solid;
  border-color: red;
}
.productImageContainer {
  margin: 1rem;
  padding: 1rem;
  border: solid; 
  border-color: red;
}
.productTextContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.productName {
  margin: 1.5rem;
  font-size: 3rem;
}
.productPrice {
  margin: 1.5rem;
  font-size: 3rem;
  text-align: right;
}

@include sm {
}

@include md {
  .headerText {
    font-size: 3.5rem;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@include lg {
  .headerText {
    margin-right: 2rem;
    font-size: 4rem;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include xl {
}
